<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoServlet</servlet-name>
        <servlet-class>controller.ProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsumidorServlet</servlet-name>
        <servlet-class>controller.ConsumidorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OfertaServlet</servlet-name>
        <servlet-class>controller.OfertaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValoracionServlet</servlet-name>
        <servlet-class>controller.ValoracionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneracionCuponPdfServlet</servlet-name>
        <servlet-class>controller.GeneracionCuponPdfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
        <url-pattern>/LoginServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoServlet</servlet-name>
        <url-pattern>/ProductoServlet</url-pattern>
        <url-pattern>/ProductoServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsumidorServlet</servlet-name>
        <url-pattern>/ConsumidorServlet</url-pattern>
        <url-pattern>/ConsumidorServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OfertaServlet</servlet-name>
        <url-pattern>/OfertaServlet</url-pattern>
        <url-pattern>/OfertaServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValoracionServlet</servlet-name>
        <url-pattern>/ValoracionServlet</url-pattern>
        <url-pattern>/ValoracionServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneracionCuponPdfServlet</servlet-name>
        <url-pattern>/GeneracionCuponPdfServlet</url-pattern>
        <url-pattern>/GeneracionCuponPdfServlet/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
