*,*:after, *:before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}
/*******************************************Login general*************************************************/

.row{
    height: 100%; 
    width: 100%;
    position: fixed;
}
.row .col-md-6{
    height: 100%;
    text-align: center; 
    align-items: center;
}
.row .imagenGerente{
    width: 103%;
}

.loginGerente{
    margin-top: 15%
}
.loginGerente .logo{
    height: 116px;
}
.form-group{
    width: 50%;
}
.formulario{
    margin-top: 45px;
}

.btnInicioSesion{
    background: linear-gradient(0deg, rgb(90, 85, 170) 0%, rgb(36, 35, 72) 80%);/*primer rbg es de abajo, segundo es de arriba*/
    border-radius: 7px;
    color: white;
    height: 46px;
    width: 160px; 
    margin-top: 15px;
}
/******************************************* fin Login general*************************************************/
/*******************************************Navbar encargado*************************************************/
.navbarTrabajador{
     box-shadow: 0px 4px 23px -6px rgba(17, 17, 17, .06);
    width: 102%;
    padding: 1%;
}

.navbarTrabajador::after{
   
}

.nav-link{
    color: grey;    
}

.nav-side-menu {
    overflow: auto;
    font-size: 12px;
    font-weight: 200;
    background-color: rgb(67,66,93);
    position: fixed;
    width: 16%;
    height: 100%;
    color: #e1ffff;
}
.nav-side-menu .brand {
    background-color: rgb(58, 57, 76);
    line-height: 58px;
    color:#ffffff;
    text-align: center;
    font-size: 18px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    line-height: 35px;
    cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {

    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu li {
    border-left: 6px solid rgb(67,66,93);
    border-bottom: 1px solid #23282e;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #ffffff;
    border: transparent;
    padding: 6%;
}
.btnHome{
    padding-right: 168px !important;
}
.btnproducto{
    padding-right: 113px !important;
}

.btnOferta{
    padding-right: 127px !important;
}

.nav-side-menu li:hover {
    border-left: 6px solid rgb(163,160,251);
    background-color: rgb(58, 57, 76);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
/******************************************* Fin navbar encargado *************************************************/

/********************************************** Home encargado *************************************************/
.centroHome{
    margin-top: 10%;
}

.logo{
    height: 150px;
    display:block;
    margin:auto;
}

.tituloEncargado{
    text-align: center;
    margin-bottom: 17px;
    font-weight: 600;
}
.subtituloEncargado{
    color:rgb(183,183,183);
}

.btnlistar{
    margin-right:5%;
    padding: 1%;
    border-radius: 7px;
    border: 1px solid rgb(67,66,93);
    background: #ffffff;
    transition: 1s;
    text-decoration: none;
    margin-top: 10px;
}

.btnlistar:hover{
    background: rgb( 0,167, 255);
    transition: 1s;
    color: #ffffff;
    border:1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.3);
}

.btnlistaoferta{
    padding: 1%;
    border-radius: 7px;
    border: 1px solid rgb(67,66,93);
    background: #ffffff;
    transition: 1s;
    text-decoration: none;
    margin-top: 10px;
}

.btnlistaoferta:hover{
    background: rgb( 0,167, 255);
    transition: 1s;
    color: #ffffff;
    border:1px solid transparent;
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.3);
}

/******************************************** Fin Home encargado ****************************************************/
/*************************************** Listar Productos encargado *************************************************/
.contenedorTituloBusqueda{
    width: 100%;
    height: 53px;
    margin-top: 13px;
    margin-bottom: 18px;
}

.tituloProducto{
    width: 19%;
    float: left;
    font-size: 35px;
    color: rgb(112,112,112)!important;
}

.contenedorBuscar{
    float: left;
    margin-top: 8px;
    width: 81%;
}
#buscador{
    width: 55%;
    margin-left: 23px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid rgb(112,112,112);
    
}
#btnBuscador{
    width: 16%;
    height: 40px;
    background: linear-gradient(269deg, rgb(0, 175, 245) 0%, rgb(36, 35, 72) 98%);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-weight: 600;
    font-size: 18px;
    border: transparent;
}
/************************************ Fin Listar Productos encargado ************************************************/
/********************************************* Ofertas encargado ****************************************************/
.contenedorTituloNuevo{
    width: 100%;
    height: 53px;
    margin-top: 13px;
    margin-bottom: 18px;
}

.tituloOferta{
    width: 13%;
    float: left;
    font-size: 35px;
    color: rgb(112,112,112)!important;
}

#btnNuevaOferta{
    background: linear-gradient(325deg, rgb(90, 85, 170) 1%, rgb(36, 35, 72) 65%);
    border: 1px solid rgb(36, 35, 72);
    width: 13%;
    height: 37px;
    padding: 3px;
    margin-top: 9px;
    border: transparent;
    transition: 1s;
}

#btnNuevaOferta:hover{
    background: #ffffff;
    border: 1px solid rgb(36, 35, 72);
    color: rgb(36, 35, 72);
    transition: 1s;
}

/*****************Modal***************************/
.modalDialog{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    text-align: center;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover { 
    background: #00d9ff; 
}


/*tabla*/

th{
    text-align: center;
}

.ofertaInicio{
    width: 24%;
}

.ofertaTermino{
    width: 24%;
}

/*botones tabla*/
.BotonEditar{
    text-decoration: none;
    background: linear-gradient(292deg, rgb(0, 167, 255) 0%, rgb(0, 255, 137) 98%);
    border: 1px solid rgb(112,112,112);
    color: #ffffff;
    padding: 5%;
    font-weight: 600;
    border-radius: 7px;
}

.BotonEditar:hover{
    text-decoration: none;
    color: #ffffff;
}

.botonEliminar{
    text-decoration: none;
    background: linear-gradient(301deg, rgb(0, 167, 255) -44%, rgb(255, 0, 69) 92%);
    border: 1px solid rgb(112,112,112);
    color: #ffffff;
    padding: 5%;
    border-radius: 7px;    
    font-weight: 600;
}

.botonEliminar:hover{
    text-decoration: none;
    color: #ffffff;
}

/***************************************** Fin Ofertas encargado ****************************************************/